/* Custom styles for CodeMirror */
.CodeMirror {
    font-family: "Times New Roman", Times, serif;
    border: 100px solid #6200ff;
    font-size: 20px;
    height: 700px; /* Ensure it has a fixed height */
}
